.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: #C7C8CC;
    border-radius: 0.4rem;
}
.searchBar{
    display: flex;
    justify-content: space-evenly;
    width: 20rem;
    margin-right:25%;
    
}
#search{
    padding-right: 6rem;
    width: 100%;
}
.searchLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: medium;
    margin-left: 0%;
    background-color: rgb(47, 63, 102);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: white;
}
.signIn{
    border: 2px solid black;
    padding: 0.4rem;
    
    background-color: white;
    height: 0.7rem;
    display: flex;
    align-items: center;
}

.notification{
    margin-right: 5%;
    
}

.navLogo{
    margin-right:5%;
}

.home{
    margin-right:5%;
}

.followers{
    margin-right:5%;
}

.write{
    margin-right:5%;
}


.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7%;
}
.sidebar{
    background-color: aqua;
    border: 2px solid black;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100rem;
}
.shareFeeling{
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    grid-column-start: 2;
    height: 7rem;
}
.advertisement{
    background-color: aqua;
    border: 2px solid black;
    grid-column-start: 3;
    grid-row-start: 1;
}

#share{
    width: 80%;
}

.feed{
    background-color: aqua;
    border: 2px solid black;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}