*{
    margin-bottom: 30px;
    padding: 0;
}
.index{
    padding: 7vw;
    margin-top: 9vw;
    height: 44vw;
    width: 10vw;
    position: fixed;
    background-color: rgb(164, 229, 253);
}
ul{
    list-style-type: disclosure-closed;
}
.gap{
    padding-bottom: 10px;
}
